{% extends 'base.html.twig' %}

{% block title %}SnowTrik oublie mot de passe!{% endblock %}

{% block body %}

<div class="container">

<div class="pt-5">

<h1> nouveau mot de passe  </h1>

{{ form_start(form) }}

    <button type="submit" class="btn btn-primary"> valider </button>
{{ form_end(form) }}

</div>

</div>
{% endblock %}
